/* @import 'https://fonts.googleapis.com/'  */

*{
    padding: 0;
    margin : 0;

}

nav{
    background-color: #2874f0;
    justify-content: center;
    display:flex;
    padding : 10px 0px;
    height: 50px;
    align-items: center;
}

.plusColor{
    color :#ffe500; 
    font-size: 11px;
    margin-top:-1px;
    margin-right:2px;
    font-weight: 500;
}

.navlogo p{
    color :white;
    font-style: italic;
    font-weight: 400;
    margin-top:-5px;
    font-size: small;
}
.diamond{

}

.navlogo{
    margin-top : 15px;
}

input::placeholder{
    font-size: smaller;

}

input:focus{
    outline:none;
}

input{ 
    padding-left:10px;
   
}

div .loginbtn{
    background-color: white;
    color:#2874f0;
    font-weight: 500;
    border-radius: 2px;
    border-color: transparent;
    padding :3px 35px;
    text-decoration: none;

}

nav div{
    margin-left: 20px;
}


.cmn span{
    color:white;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .1px;

}
.cmn a{
    text-decoration: none;
}

nav{
    position: fixed;
    top : 0%;
    width:100%;
}

/* -----------------------------Product Navbar ----------------------------- */
.topProductNavbar{
    height:150px;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    border-bottom: 1px solid #ccc;
}

.topProductNavbar_Nav{
    width:80px;
    height : 112px;
    margin-top: 50px;
    
}


.topProductNavbar_Nav img{
    width:64px;
    height:64px;
}

.topProductNavbar_Nav p{
    font-weight: 500;
    font-size: 14px;
}

.topProductNavbar_Nav:hover p{
    color :#2874f0;
    cursor:pointer;
}

